body {
  background: #f0f0f0;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
font-family: Poppins;
  width: 840px;
  border-radius: 24px 24px 176px 24px;
  background: #fff;
}

.container .caculater {
  padding: 56px 56px 70px;
}

.container .form {
  gap: 16px;
  display: flex;
}

.container .caculater .circle {
  position: absolute;
  border-radius: 9999px;
  background: #854dff;
  display: flex;
  align-items: center;
  right: 0px;
}

.container .caculater .circle:hover {
background: #000;
  }
  

.container .caculater .line {
  display: flex;
  position: relative;
}

.container .form .form-group .form-group-label {
  color: #716f6f;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.1px;
  margin-bottom: 10px;
  line-height: 20px;
}

    input[type="number"] {
        width: 143px;
    }


input.form-control {
  padding: 17px 0px 17px 15px;
  color: #716f6f;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.1px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  outline: none;
}

input.form-control::placeholder {
  font-size: 16px;
}

input.form-control:focus{
    border-color: #854DFF;
}

hr {
  border-color: #dbdbdb;
  width: 100%;
  margin: 48px 0 33px;
}

.container .caculater .line img.circle-image {
  padding: 26px 25px;
}

.container .caculater .line img.circle-image:hover {
    cursor: pointer;
  }

.container .caculater .result {
  display: flex;
  gap: 19px;
  display: flex;
}

.container .caculater .result .dash {
  color: #854dff;
  font-size: 96px;
  line-height: 104.6px;
}

.container .caculater .result .lable-results {
  font-size: 96px;
  font-weight: 700;
  line-height: 104.6px;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
    height: auto;
  }

  .container {
    border-radius: 24px 24px 88px 24px;
    width: auto;
    margin: 164px 16px 163px;
  }

  .container .caculater {
    padding: 52px 24px 51px;
  }

  .container .form .form-group .form-group-label {
    font-weight: 700;
    letter-spacing: 2.1px;
    margin-bottom: 4px;
  }

  input.form-control {
    max-width: 72px;
    font-size: 20px;
    padding: 15px 11px 14px; 
  }

  .container .form {
    margin-bottom: 32px;
  }

  .container .caculater .line {
    margin-bottom: 23px;
  }

  hr{
    margin: 32px 0 31px;
  }

  .container .caculater .line img.circle-image {
    padding: 10px 9px;
  }

  .container .caculater .result .dash {
    font-size: 52px;
    line-height: 57.2px;
  }

  .container .caculater .result{
    gap: 10px;
  }

  .container .caculater .result .lable-results {
    line-height: 57.2px;
    font-size: 52px;
  }
}
